<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tipCalc3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B7ECD7DB1F41216200AD624C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7ECD7EF1F41216300AD624C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7ECD7FA1F41216300AD624C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
